---
import ContactModal from './ContactModal';
import {COLORKEY} from '../utils/Constants.astro';
import Bands from '../utils/sketchy_list.json';

const searchList = Bands;

const options = {
  keys: ['Artist'],
  includeMatches: true,
  minMatchCharLength: 4,
  threshold: 0.5,
};
---

<div>
  <label
    for="search"
    class="dark:text-white sr-only mb-2 text-sm font-medium text-gray-900"
  >
    Search
  </label>
  <div class="relative">
    <div
      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-search"
        width={24}
        height={24}
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="black"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx={10} cy={10} r={7}></circle>
        <line x1={21} y1={21} x2={15} y2={15}></line>
      </svg>
    </div>
    <input
      type="text"
      id="search"
      class="block w-full rounded-full border border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-800 focus:border-red-500 focus:outline-none focus:ring-red-500"
      placeholder="Search for a band..."
    />
  </div>
  <div class="mt-2 text-center text-sm italic text-gray-500">
    - Are you missing anything? Contact us via our <span
      class="contact-trigger cursor-pointer underline">suggestions form</span
    > to add information. -
  </div>

  <div id="results" class="my-4"></div>
  <ul id="bandList" class="list-none"></ul>
</div>

<ContactModal client:load />

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const handleContactTrigger = () => {
      window.dispatchEvent(new Event('openContactDialog'));
    };

    // Initial triggers
    document.querySelectorAll('.contact-trigger').forEach((trigger) => {
      trigger.addEventListener('click', handleContactTrigger);
    });

    // Set up a MutationObserver to watch for changes in the bandList
    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (mutation.type === 'childList') {
          mutation.addedNodes.forEach((node) => {
            if (node.nodeType === Node.ELEMENT_NODE) {
              if (node instanceof Element) {
                node.querySelectorAll('.contact-trigger').forEach((trigger) => {
                  trigger.addEventListener('click', handleContactTrigger);
                });
              }
            }
          });
        }
      });
    });

    // Start observing the bandList for changes
    const bandList = document.getElementById('bandList');
    observer.observe(bandList, {childList: true, subtree: true});
  });
</script>

<script define:vars={{searchList, options, COLORKEY}}>
  import('https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.esm.js').then(
    (module) => {
      const Fuse = module.default;

      const searchInput = document.getElementById('search');
      const resultsDiv = document.getElementById('results');
      const bandList = document.getElementById('bandList');

      const fuse = new Fuse(searchList, options);

      searchInput.addEventListener('input', handleSearch);

      function handleSearch(event) {
        const query = event.target.value;
        if (query.length > 1) {
          const bands = fuse
            .search(query)
            .map((result) => result.item)
            .slice(0, 5);
          updateResults(query, bands);
          renderBands(bands);
        } else {
          resultsDiv.innerHTML = '';
          bandList.innerHTML = '';
        }
      }

      function updateResults(query, bands) {
        resultsDiv.innerHTML = `Found ${bands.length} ${
          bands.length === 1 ? 'result' : 'results'
        } for '${query}'`;
      }

      function renderBands(bands) {
        bandList.innerHTML = bands
          .map(
            (band) => `
        <li class="m-3 p-4 ${COLORKEY[band.Sketchy].class} relative rounded-xl">
          <span class="absolute right-1 top-1 p-2 pt-4 md:p-3 text-xl">
            <div class="bg-white/8 items-center justify-center rounded-full border border-white px-1.5 py-0.5 md:px-2 md:py-1 text-xs md:text-sm">
              ${band.Genre}
            </div>
          </span>
          <div class="pr-20">
            <h1 class="text-xl md:text-2xl font-bold uppercase whitespace-normal">
              ${band.Artist} <span class="inline-block">${COLORKEY[band.Sketchy].icon}</span>
            </h1>
          </div>
          <div class="pt-2 text-sm text-white">
            ${band.Country} -
            ${
              band.Explanation && band.Explanation.trim() !== ''
                ? ' ' + band.Explanation
                : `<span class="italic">
                     No further explanation, give us info on our <span class="contact-trigger cursor-pointer underline">suggestions form</span>.
                   </span>`
            }
          </div>
          ${
            band.Sources
              ? band.Sources.map(
                  (source) => `<a
                      target=”_blank”
                      href="${source}"
                      class="border-dotted border-blue-100 pt-2 text-sm underline hover:text-slate-200"
                    >
                      Source ↗
                    </a>
                  `,
                ).join('')
              : ''
          }
        </li>
      `,
          )
          .join('');
      }
    },
  );
</script>
